.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-top: 24px;
}

.group {
    width: 100%;
    max-width: 630px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.line {
    width: 100%;
    height: 8px;
    background-color: var(--bg-color);
}
.textbox {
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: var(--bg-color);
    text-align: justify;
}
.titlebox {
    width: 100%;
    padding: 24px 32px;
    background-color: var(--bg-color);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.linksContainer {
    display: flex;
    width: 100%;
    justify-content: end;
    margin: 4px;
}
.linksWrapper {
    width: 50%;
    display: flex;    
    justify-content: space-between;
    font-weight: 500;
}
.links {
    font-weight: 500;
    /* font-size: 1.125rem; */
    position: relative;
}

.links::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: currentColor;
    transition: width 0.3s ease-in-out;
  }
  
.links:hover::after {
    width: 100%;
}


@media(max-width:1025px) {
    .links::after {
        width: 100%;
    }
}
.icon {
    width: 24px;
    height: 24px;
    margin-inline: 6px;
    margin-bottom: 4px;
}
.textlabel {
    font-weight: 500;
    opacity: 0.6;
}
@media(max-width: 560px) {
    .linksWrapper {
        width: 100%;
    }
}

@media(min-width: 744px) {
    .page {
        gap: 80px;
    }
    .textbox {
        padding: 40px;
        gap: 40px;
    }
    .icon {
        width: 32px;
        height: 32px;
    }

    .links{ font-size: 1.125rem;}
}

@media(min-width: 1025px) {
    .page {
        gap: 120px;
    }
    .textbox {
        padding: 48px;
        gap: 48px;
    }
    .entry {
        gap: 16px;
    }
    .icon {
        width: 36px;
        height: 36px;
    }
}