
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background-color: rgba(var(--bg-color-rgb), 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* transform: translateX(-100vw); */
    transition: opacity 0.25s ease-in-out, transform 0.2s ease-in-out;
    pointer-events: none;
}
.overlay.enter {
    /* transform: translateX(0); */
    opacity: 1;
}
.overlay.exit {
    /* transform: translateX(-100vw); */
    opacity: 0;
}

.menu {
    width: 100%;
    max-width: calc(var(--maxContentWidth) + var(--xPadding)*2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 0px var(--xPadding);
    transition: transform 0.25s ease-in-out;
    border-radius: 0px 0px 50px 50px;
    pointer-events: all;
}
.menu.exit,
.menu.enter {
    opacity: 1;
}

@media (min-width: 1024px) {
    .overlay {
        background-color: rgba(0, 0, 0, 0.8);
        align-items: start;
        pointer-events: all;
    }
    .menu {
        transform: translateY(-100%);
        width: fit-content;
        max-width: none;
        flex-direction: row;
        padding: 32px 48px;
        background-color: rgba(var(--bg-color-rgb), 0.6);
        color: var(--text-color);
    }
    .overlay.enter {
        transition-delay: 0s;
    }
    .overlay.exit {
        transition-delay: 0.2s;
    }
    .menu.enter{
        transform: translateY(0);
        transition-delay: 0.2s;
    }
    .menu.exit {
        transform: translateY(-100%);
        transition-delay: 0s;
    }
}

.largeContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.narrowContainer {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switch {
    display: flex;
    gap: 8px;
}

.smallIcon {
    width: 24px;
    height: 24px;
}

.bigIcon {
    width: 56px;
    height: 56px;
}