.desktopHidden {
    display:block;
}

@media (min-width: 1025px) {
    .desktopHidden{
        display: none;
    }
}


.hamburguer {
    width: 32px;
    height: 32px;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: end;
    /* margin-top: calc(50vh - 250px - 16px - 48px); */
    position: relative;
    z-index: 10;
}

.button {
    position: relative;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 8px;
    transition: all 150ms ease-in-out;
}
.button:active {
    transform: scale(0.9) ;
}
.open {
    background-color: rgba(var(--bg-color-rgb), 0.6);
    color: var(--text-color);
}
.close {
    background-color: transparent;
    color: var(--text-color);
}

.openSecondary {
    background-color: rgba(var(--midcontrast-rgb), 0.8);
    color: rgba(var(--bg-color-rgb), 0.8);
}

@media (min-width: 1025px) {
    .close {background-color: rgba(var(--bg-color-rgb), 0.6);}
}

.iconWrapper {
    position: absolute;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburguerWrapper {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.closeWrapper {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.buttonExit {
    opacity: 0;
    transform: scale(0);
}

.buttonEnter {
    opacity: 1;
    transform: scale(1);
}

.switchesContainer,
.socialsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.workContainer {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1025px) {
    .switchesContainer,
    .socialsContainer,
    .workContainer {
        width: fit-content;
        justify-content: center;
        align-items: center;
    }
    .socialsContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        column-gap: 48px;
        row-gap: 24px;
    }
    .switchesContainer {
        gap: 24px;
    }
    .switchesContainer{
        flex-direction: column;
    }
    .workContainer {
        gap: 48px;
    }

}

.switch {
    display: flex;
    align-items: center;
    gap: 8px;
}

.socialsIcon,
.smallIcon {
    width: 24px;
    height: 24px;
    margin: 8px;
}
.bigIcon {
    width: 56px;
    height: 56px;
    margin: 8px;
}

.menuLink {
    opacity: 1;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

@media (min-width: 744px) {
    .socialsIcon {
        width: 36px;
        height: 36px;
    }
    .bigIcon {
        width: 64px;
        height: 64px;
    }
    .menuLink {
        opacity: 0.6;
    }
    .menuLink:hover {
        opacity: 1;
    }
}

.toggle {
    background-color: rgba(var(--text-color-rgb), 0.3);
    width: 48px;
    height: 24px;
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 20px;
    cursor: pointer;
}

.lever {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(var(--text-color-rgb), 0.8);
    z-index: 5;
}

.on {
    animation: turnOn .25s ease-out forwards
}

.off {
    animation: turnOff .25s ease-out forwards;
}

@keyframes turnOff {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes turnOn {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

.scrollUp,
.menuFixed {
    position: fixed;
    transition: transform 0.25s ease-in-out;
}
.menuFixed {
    top: 0;
    right: 0;
    transform: translateY(-100%);
    z-index: 10;
}
.scrollUp {
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    z-index:5;
}

.scrollUp.enter,
.menuFixed.enter {
    transform: translateY(0);
}
