.iconLarge {
    width: 56px;
    height: 56px;
}

@media(min-width: 744px) {
    .iconLarge {
        width: 64px;
        height: 64px;
    }
}

@media (min-width: 1025px) {
    .iconLarge {
        width: 80px;
        height: 80px;
    }
}