.page {
    width: 100%;
    min-height: 100vh;
}
.pageContent{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 48px;
    padding-top: 24px;
}

.group {
    width: 100%;
    max-width: 630px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    z-index: 0;
}
.line {
    width: 100%;
    height: 8px;
    background-color: var(--bg-color);
}
.textbox {
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: var(--bg-color);
}
.titlebox {
    width: 100%;
    padding: 24px 32px;
    background-color: var(--bg-color);
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.entryInfo {
    /* padding: 0 32px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}
.overlaylogo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    transition: opacity 150ms ease-out;
    cursor: pointer;
}
.overlaylogo:hover {
    opacity: 0.15;
}

.entry {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

.nameContainer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.name {
    margin-inline: 2px;
    line-height: 1;
    flex: 1;
    text-transform: uppercase
}
.linksWrapper {
    display: flex;
    /* width: 100%; */
    /* justify-content: end; */
    gap: 3rem;
}
.links {
    font-weight: 500;
    position: relative;
}

.links::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: currentColor;
    transition: width 0.3s ease-in-out;
  }
  
.links:hover::after {
    width: 100%;
}

@media(max-width:1025px) {
    .links::after {
        width: 100%;
    }
}


.icon {
    width: 32px;
    height: 32px;
    margin-inline: 6px;
    margin-bottom: 4px;
}
.iconRounded {
    padding: 7px;
    border-radius: 50%;
    color: var(--bg-color);
    background-color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width: 744px) {
    .page {
        gap: 64px;
    }
    .textbox {
        padding: 40px;
        gap: 40px;
    }
    /* .entry {
        gap: 12px;
    } */

    .icon {
        width: 36px;
        height: 36px;
    }

    .links {
        font-size: 1.125rem;
    }
}

@media(min-width: 1025px) {
    .page {
        gap: 80px;
    }
    .textbox {
        padding: 48px;
        gap: 48px;
    }
    /* .entry {
        gap: 16px;
    } */
    .icon {
        width: 36px;
        height: 36px;
    }
    .links > a {
        opacity: 0.6;
    }
    .links > a:hover {
        opacity: 1;
    }
}