.dashboardContainer {
    width: 100%;
    display: flex;
    margin-top: 16px;
}
.dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.standart {
    width: 100%;
    height: 140px;
    border-radius: 99px 99px 0px 0px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    padding: 0;
    position: relative; /* Add this */
    height: 344px; /* Adjust this to accommodate all items */
}

.option {
    width: 100%;
    /* height: 80px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    cursor: pointer;
    transition: all 0.25s ease-in-out, top 0.25s ease-in-out; /* Add top transition */
    position: absolute; /* Add this */
    left: 0; /* Add this */
    opacity: 0;
    transform: translateX(-100vw);
}

.exit {
    transform: translateX(100vw);
    opacity: 0;
}

.enter {
    transform: translateX(0);
    opacity: 1;
}

/* Add these new rules */
.option:nth-child(1) { top: 0; }
.option:nth-child(2) { top: 88px; }
.option:nth-child(3) { top: 176px; }
.option:nth-child(4) { top: 264px; }

.pageMenu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
    gap: 8px;
}

.topButton {
    width: 50%;
    height: 80px;
    cursor: pointer;
    border: none;
}

.backButton {
    width: 100%;
    height: 48px;
    border: none;
}