.dashboardContainer {
    width: 100%;
    display: flex;
    margin-top: 32px;
}

.dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.standart {
    width: 100%;
    height: 145px;
    border-radius: 99px 99px 0px 0px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0;
    padding: 0;
    position: relative;
    height: 468px;
}

@media (min-width: 1024px) {
    .dashboardContainer {
        margin-top: 64px;
    }
    .dashboard {
        flex-direction: row;
    }
    .standart {
        height: 100%;
        width: 180px;
        border-radius: 99px 0 0 99px;
    }
    .menu {
        width: 568px;
    }
}

.option {
    width: 230px;
    height: 188px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in-out, top 0.25s ease-in-out;
    position: absolute;
    opacity: 0;
}

.option:nth-child(1) { 
    top: 0;
    left: 0;
    transform: translateX(-100vw);
}
.option:nth-child(2) { 
    top: 0;
    right: 0;
    transform: translateX(100vw);
}
.option:nth-child(3) { 
    top: 196px;
    left: 0;
    transform: translateX(-100vw);
}
.option:nth-child(4) {
    top: 196px;
    right: 0;
    transform: translateX(100vw);
}

@media (min-width: 1024px) {
    .option {
        width: 276px;
        height: 226px;
        transition: all 0.25s ease-in-out, top 0.25s ease-in-out, left 0.25s ease-in-out;
    }
    .option:nth-child(1) { 
        top: 0;
        left: 0;
        transform: translateY(-100vh)
    }
    .option:nth-child(2) { 
        top: 0;
        left: calc(276px + 16px);
        transform: translateY(-100vh)
    }
    .option:nth-child(3) { 
        top: calc(226px + 16px);
        left: 0;
        transform: translateY(100vh)
    }
    .option:nth-child(4) {
        top: calc(226px + 16px);
        left: calc(276px + 16px);
        transform: translateY(100vh)
    }
}

.option.exitLeft {
    transform: translateX(-100vw);
    opacity: 0;
}

.option.exitRight {
    transform: translateX(100vw);
    opacity: 0;
}

.option.exitUp {
    transform: translateY(-100vh);
    opacity: 0;
}

.option.exitDown {
    transform: translateY(100vh);
    opacity: 0;
}

.option.enter {
    transform: translate(0);
    opacity: 1;
}

.option.selected {
    left: 0;
    width: 468px;
    height: 120px;
}

.backButton {
    width: 60px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--bg-color-rgb), 0.8);
    color: var(--text-color);
}

.resourceButton {
    width: 180px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleButton {
    width: 212px;
    height: 170px;
    text-align: left;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 24px;
}

.pageMenuItem {
    transition: all 0.25s ease-in-out;
    position: absolute;
    /* top: 128px; */
    opacity: 0;
    transform: translateY(100vh);
}

.pageMenuItem.exit {
    opacity: 0;
    transform: translateY(100vh);
}

.pageMenuItem.enter {
    opacity: 1;
    transform: translateY(0);
}

@media (min-width: 1024px) {
    .option.selected {
        width: 180px;
        height: 100%;
    }
    .backButton {
        width: 80px;
        height: 302px;
    }
    .resourceButton {
        width: 370px;
        height: 151px;
    }
    .titleButton {
        width: 274px;
        height: 302px;
    }

}

.backIcon {
    width: 40px;
    height: 40px;
}

@media(min-width: 1024px) {
    .backIcon {
        width: 48px;
        height: 48px;
    }
}