
  

.businessContainer {
    width: 100%;
    box-sizing: content-box;
    max-width: calc(742px - 48px);
    border: solid 8px var(--bg-color);
    padding: 8px;
    /* margin: auto; */
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 24px;
}

.business {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: var(--textBoxPadding);
    background-color: var(--bg-color);
}
.business > p {
    text-align: justify;
}
 .hoverLogoContainer {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    color: inherit;
    font-size: 32px;
}

/* .outlinedText {
    color: inherit;
  text-shadow: 
    -1px -1px 0 var(--text-color),  
     1px -1px 0 var(--text-color),
    -1px  1px 0 var(--text-color),
     1px  1px 0 var(--text-color);
} */


.logoContainer {
    position: relative;
    width: 55%;
    color: var(--bg-color);
}
.logoContainer:hover {
    color: var(--bg-color);
}
.logo {
    width: 100%;
    height: auto;
    color: var(--bg-inverted);
}

.linksContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 500;
    margin-top: -1rem;
    padding: 0 0.5rem;
}
.links {
    font-weight: 500;
    position: relative;
}

.links::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: currentColor;
    transition: width 0.3s ease-in-out;
  }
  
.links:hover::after {
    width: 100%;
}

@media(max-width:1025px) {
    .links::after {
        width: 100%;
    }
}

@media(min-width: 744px) {
    .links {
        font-size: 1.125rem;
    }
}

@media (min-width: 1025px) {
    .businessContainer {
        margin-top: 80px;
    }
    .business {
        gap: 3rem
    }
    .logoContainer {
        color: transparent;
    }
}