#root {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

main {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1104px; /*1024 + padding*/
  min-height: 100vh;
  /* padding: calc(50vh - 250px - 16px - 48px) var(--xPadding) 0px; */
  box-sizing: border-box;
}

main::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/img/1024px-La-esfinge.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
@media (min-width: 1025px) {
  main::before {
    background-image: url('/img/desktop-backgroud.png');
    background-size: 1440px 1344px;
    background-position-y: top;
  }
}
/* .background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  margin: auto;
  height: 100vh;
  width: auto;
} */
.nav {
  width: 100%;
  padding: calc(50vh - 250px - 16px - 48px) var(--xPadding) 0px;
}
.top {
  width: 100%;
  max-width: var(--maxContentWidth);
  /* min-height: 100vh; */
  position: relative;
  z-index: 1;
  margin: auto;
}

.page {
  position: relative;
  width: 100%;
  max-width: 760px;
  margin: auto;
  margin-bottom: 64px;
  /* overflow: hidden; */
}
.pageContent {
  width: 100%;
  overflow: hidden;
}